[submodule "repos/tmux-castle"]
	path = repos/tmux-castle
	url = git@github.com:bigwheel/tmux-castle.git
[submodule "repos/git-castle"]
	path = repos/git-castle
	url = git@github.com:bigwheel/git-castle.git
[submodule "repos/zsh-castle"]
	path = repos/zsh-castle
	url = git@github.com:bigwheel/zsh-castle.git
[submodule "repos/vim-castle"]
	path = repos/vim-castle
	url = git@github.com:bigwheel/vim-castle.git
